$cardheight: 370px;
$cardwidth: 265px;

.imgcontainer {
    width: $cardwidth;
    height: $cardheight;
    
    position: absolute;
    background-size: contain;

    .flip {
        background-color: rgba(255,255,255,0.5);
        background-image:url("../../../../assets/img/rotate.png");
        background-size:contain;
        border: 1px solid black;
        border-radius: 50%;
        height: 50px;
        width: 50px;

        position: absolute;
        margin: 0 auto;
        bottom: 25px;
        left: calc($cardwidth/2) - 25px;
        cursor: pointer;
    }
    
    .promotypes-container {
        background-color: rgba(100,0,0, 1);

        border-color: rgb(200, 200, 200);
        border-width: 2px;
        border-style: solid;
        border-radius: 5px;

        color: white;
        position: relative;

        padding: 3px 5px;

        display: table;
        margin: 0 auto;
        margin-top: 1px;
        top: $cardheight - 150px;
    }
}