.carddetails {
    display: block;
    position: relative;
    text-align: left;
    left: 0;
    top: 0;
    /* background-color: red; */
}

.old {
  display: none;

  .colourSelection {
    width: 32px;
    height: 100%;
    top: 15px;
    
    display: inline-block;
    position: relative;
  
    input {
      position: relative;
      display: table;
      margin: 0 auto;
    }
    label {
      position: relative;
      display: table;
      margin: 0 auto;
    }
  }
}

.colourSelection {
  margin-left: 10px;
  margin-right: 10px;

  top: 10px;

  height: 32px;
  position: relative;

  label {
    border-radius: 16px;
    margin: 3px;
    margin-left:4px;
    margin-right:4px;
    height: 28px;
    width: 28px;
  }

  input[type=checkbox] {
    display: none;
  }

  input[type=checkbox] + label {
    background-size: cover;
    display:inline-block;
    padding: 0 0 0 0px;
  }

  input[type=checkbox]:checked + label {
    box-shadow: 0 0 0 3px black;
  }

  #wl {
    background-image:url("../../../../assets/img/whiteicon.svg");
  }
  #ul {
    background-image:url("../../../../assets/img/blueicon.svg");
  }
  #bl {
    background-image:url("../../../../assets/img/blackicon.svg");
  }
  #rl {
    background-image:url("../../../../assets/img/redicon.svg");
  }  #gl {
    background-image:url("../../../../assets/img/greenicon.svg");
  }
  #cl {
    background-image:url("../../../../assets/img/colourlessicon.svg");
  }

  #w:checked + label{
    // box-shadow: 0 0 0 4px rgba(248, 231, 185,0.6);
    box-shadow: 0 0 0 3px black;
  }
  #u:checked + label{
    box-shadow: 0 0 0 4px rgba(14, 104, 171,0.6);
  }
  #b:checked + label{
    box-shadow: 0 0 0 4px rgba(21,11,0,0.6);
  }
  #r:checked + label{
    box-shadow: 0 0 0 4px rgba(211, 32, 42,0.6);
  }
  #g:checked + label{
    box-shadow: 0 0 0 4px rgba(0, 115, 62,0.6);
  }
  #c:checked + label{
    box-shadow: 0 0 0 4px rgba(0, 0, 0,0.6);
  }
}

label {
  color: #435960;
  font-weight: bold;
}

input {
    font-size: 1em;
    padding: .5rem;
}
button {
  margin-top: 10px;
  background-color: #eee;
  padding: .5rem;
  border-radius: 4px;
  font-size: 1rem;
}

button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

.card-version-selection {
  margin-top: 0.4em;
  margin-left: 0.4em;

  // // Activate this to enable sideways scrolling
  // display: flex;
  // overflow: scroll;
}
