<div class="carddetails">
    <form class="selector-form" (ngSubmit)="onCardSearch()">        
        <span *ngIf="submitted">
            <label for="card-count">Added cards:</label>
            <input id="card-count" [disabled]="submitted" value={{this.cardCount}} type ="text">
            <label for="cardfilter">Filters: </label>
        </span>
    
        <label *ngIf="!submitted" for="cardfilter">Search: </label>
        <app-card-filter name="cardfilter"></app-card-filter>

        <span *ngIf="!submitted">
            <button type="submit">Search</button>  
            <button class="add-button" (click)="addSelection()">+</button>
        </span>
    </form>
    <div class="card-version-selection" *ngIf="queriedCards && !submitted">
        <p *ngIf="queriedCards.length==0">No cards found</p>

        <span *ngFor="let card of queriedCards">
            <app-card-selector [card]="card"></app-card-selector>
        </span>
    </div>

</div>