<p>spell-book works!</p>
<div class="spell-book-container">
    <form class="card-filter-form">
        <div class="topright">
            <app-card-filter [enableSet]="false" name="cardFilter"></app-card-filter>
        </div>

        
    </form>
    <div class="sidebar">
        <div>
            Div div:
            <div>Hallo</div>
            <div>Hallo</div>
            <div>Hallo</div>
            <div>Hallo</div>
            <div>Hallo</div>
            <div>Hallo</div>
        </div>
    </div>
</div>