<span class="raritySelection" [formGroup]="raritySelection">
    <input name='common' value='common' id ='common' type="checkbox" formControlName="cControl">
    <label data-tooltip="Common" id='commonl' for='common'></label>

    <input name='uncommon' value='uncommon' id ='uncommon' type="checkbox" formControlName="uControl">
    <label data-tooltip="Unommon" id='uncommonl' for='uncommon'></label>

    <input name='rare' value='rare' id ='rare' type="checkbox" formControlName="rControl">
    <label data-tooltip="Rare" id='rarel' for='rare'></label>
    
    <input name='mythic' value='mythic' id ='mythic' type="checkbox" formControlName="mControl">
    <label data-tooltip="Mythic" id='mythicl' for='mythic'></label>

    <input name='special' value='special' id ='special' type="checkbox" formControlName="sControl">
    <label data-tooltip="Special" id='speciall' for='special'></label>
</span>