$cardheight: 370px;
$cardwidth: 265px;

.selector-container {
    display: inline-block;
    position: right;
    padding: 0.1em;
    border-style: solid;
    border-width: 1px;
    border-color: darkgrey;
}

.count-form {
    margin: auto;
    width: 90%;
    position: relative;

    label {
        margin-right: 2px;
        margin-left: 7px;
    }

    input {
        width: 50px;
    }


}


.imgcontainer {
    width: $cardwidth;
    height: $cardheight;
    
    background-size:contain;
    
    .promotypes-container {
        background-color: rgba(100,0,0, 1);

        border-color: rgb(200, 200, 200);
        border-width: 2px;
        border-style: solid;
        border-radius: 5px;

        color: white;
        position: relative;

        padding: 3px 5px;

        display: table;
        margin: 0 auto;
        margin-top: 1px;
        top: $cardheight - 100px;
    }


}
