<div class="selector-container">
    <form class="count-form" [formGroup]="finishCounterForm" (ngSubmit)="readData()">   
        <div formArrayName="cardCounts">
            <span class="finish-container" *ngFor="let finish of finishes; let i=index">
                <label>{{finish | titlecase}}</label>
                <input type ="number" min="0" [formControlName]="i">
            </span>
            <button type="submit">+</button>
            
        </div>
    </form>
    
    <div class="imgcontainer"
        [ngStyle]="{ 'background-image': 'url(' + image_url + ')'}">
        <div *ngFor="let promotype of promotypes" class="promotypes-container">
            <span>{{promotype | titlecase}}</span>
        </div>
    </div>

</div>