

.selector-container {
    display: inline-block;
    position: right;
    padding: 0.1em;
    border-style: solid;
    border-width: 1px;
    border-color: darkgrey;
}

.carddisplay {
    width: 265px;
    height: 370px;
}

input {
    width: 50px;
}

.count-form {
    margin: auto;
    width: 75%;
}