

.selector-container {
    display: inline-block;
    position: right;
    padding: 0.1em;
    border-style: solid;
    border-width: 1px;
    border-color: darkgrey;
}



input {
    width: 50px;
}

.count-form {
    margin: auto;
    width: 90%;
}

$cardheight: 370px;

.imgcontainer {
    width: 265px;
    height: $cardheight;
    
    background-size:contain;
    
    .promotypes-container {
        background-color: rgba(100,0,0, 1);
        border-radius: 3px;

        color: white;
        position: relative;

        padding-left: 5px;
        padding-right: 5px;

        display: table;
        margin: 0 auto;
        margin-top: 1px;
        top: $cardheight - 100px;

    }


}
